{% extends "inve/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    View Detail
{% endblock title %}
    

{% block content %}
<div class="mt-5"  style="margin: top 30%;">
    <div class="container">
        <table class="table table-striped table-bordered table-hovet">
            <thead class="thead-dark">
                <tr>
                   
                    <th scope='col' >Product :</th>
                    <th scope='col'>Cost :</th>
                    <th scope='col'>total in stock</th>
                    <th scope='col'>totol sale out</th>
                    <th scope='col'>sold in :</th>
                    <th scope='col'>in stock date</th>
                    <th scope='col'>sales date </th>
                </tr>
            </thead>
        
            <tbody>
                <tr style=" cursor: position; cursor: hand;">
                    
                    <td scope='row'>{{inve.name}}</td>
                    <td scope='row'>{{inve.cost_product}}</td>
                    <td scope='row'>{{inve.qty_in_stock}}</td>
                    <td scope='row'>{{inve.qty_sold}}</td>
                    <td scope='row'>{{inve.sales}}</td>
                    <td scope='row'>{{inve.stack_date}}</td>
                    <td scope='row'>{{inve.last_sales_date}}</td>
                </tr>
                
            </tbody>
            <div style="display:flex; justify-content: space-between ;">
                <button class="btn btn-secondary" type="submit"><a href="{% url 'update' inve.id %}">Update</a></button>
                <button class="btn btn-danger" type="submit"><a href="">Delete</a></button>
            </div>
    </div>
</div>
{% endblock content %}